<!--選択した豆の名称はcoffeeとblendを関連付けして表示できるか？-->
<!--メソッドをヘルパーにするか-->
<div class="taste-text">
  <p><strong>タイトル</strong>：<%= coffee.name %></p>
  <p><strong>選択１</strong>：<%= link_to "#{Bean.find(coffee.choice1).name}", bean_path(coffee.choice1) %></p>
  <p><strong>量</strong>：<%= coffee.amount1 %>g</p>
  <p><strong>選択２</strong>：<%= link_to "#{Bean.find(coffee.choice2).name}", bean_path(coffee.choice2) %></p>
  <p><strong>量</strong>：<%= coffee.amount2 %>g</p>
  <p><strong>選択３</strong>：<%= link_to "#{Bean.find(coffee.choice3).name}", bean_path(coffee.choice3) %></p>
  <p><strong>量</strong>：<%= coffee.amount3 %>g</p>
  <p><strong>説明</strong>：<%= coffee.description %></p>
</div>
