<%= form_with(model: @blend, local: true) do |form| %>
  <h3>以下の内容で登録しますか？</h3>

  <div class="row">
    <div class="col-6">
      <h3>基本情報</h3>

      <div class="field">
        <%= form.label :name %>
        <%= form.hidden_field :name %>
        <%= @blend.name %>
      </div>

      <div class="field">
        <%= form.label :choice1 %>
        <%= form.hidden_field :choice1 %>
        <%= current_user.beans.find(@blend.choice1).name %>
      </div>

      <div class="field">
        <%= form.label :amount1 %>
        <%= form.hidden_field :amount1 %>
        <span><%= @blend.amount1 %> g</span>
      </div>

      <div class="field">
        <%= form.label :choice2 %>
        <%= form.hidden_field :choice2 %>
        <%= current_user.beans.find(@blend.choice2).name %>
      </div>

      <div class="field">
        <%= form.label :amount2 %>
        <%= form.hidden_field :amount2 %>
        <span><%= @blend.amount2 %> g</span>
      </div>

      <% if @blend.choice3.present? %>
        <div class="field">
          <%= form.label :choice3 %>
          <%= form.hidden_field :choice3 %>
          <%= current_user.beans.find(@blend.choice3).name %>
        </div>

        <div class="field">
          <%= form.label :amount3 %>
          <%= form.hidden_field :amount3 %>
          <span><%= @blend.amount3 %> g</span>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :description %>
        <%= form.hidden_field :description %>
        <%= @blend.description %>
      </div>
    </div>

    <div class="col-6">
      <%= render "tastes/blend_confirm_new_taste", form: form %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>

  <div class="actions">
    <%= form.submit '戻る', name: "back", class: "btn btn-danger" %>
  </div>
<% end %>