<h1>Blend#show</h1>
<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="user-text">
    <p><strong>投稿者</strong>：<%= @blend.user.name %></p>
    <p><strong>画像</strong>：<%= image_tag @blend.user.icon.url %></p>
  </div>

  <%= render "showblend", coffee: @blend %>

  <%= render "tastes/showtaste", coffee: @blend %>

  <% if @favorites.present? %>
    <%= link_to 'お気に入り解除する', favorite_blend_path(id: @favorites), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'お気に入りする', favorite_blends_path(my_blend_id: @blend), method: :post, class: 'btn btn-primary' %>
  <% end %>

  <%= link_to '編集', edit_my_blend_path(@blend) %>
</div>