<%= form.fields model: :taste do |t| %>
  <div class="field">
    <%= t.label :bitter %>
    <%= t.select :bitter, rank %>
  </div>

  <div class="field">
    <%= t.label :acidity %>
    <%= t.select :acidity, rank %>
  </div>

  <div class="field">
    <%= t.label :rich %>
    <%= t.select :rich, rank %>
  </div>

  <div class="field">
    <%= t.label :sweet %>
    <%= t.select :sweet, rank %>
  </div>

  <div class="field">
    <%= t.label :aroma %>
    <%= t.select :aroma, rank %>
  </div>

  <div class="field">
    <%= t.label :impression %>
    <%= t.text_area :impression %>
  </div>
<% end %>