<div class="taste-text">
  <p><strong>感想</strong>：<%= coffee.taste.impression %></p>
  <p><strong>苦味</strong>：<%= coffee.taste.bitter %></p>
  <p><strong>酸味</strong>：<%= coffee.taste.acidity %></p>
  <p><strong>コク</strong>：<%= coffee.taste.rich %></p>
  <p><strong>甘み</strong>：<%= coffee.taste.sweet %></p>
  <p><strong>香り</strong>：<%= coffee.taste.aroma %></p>
</div>