<ul class="taste-text list-group">
  <li class="list-group-item">感想：<%= coffee.taste.impression %></li>
  <li class="list-group-item list-group-item-dark">苦味：<%= coffee.taste.bitter %></li>
  <li class="list-group-item list-group-item-warning">酸味：<%= coffee.taste.acidity %></li>
  <li class="list-group-item list-group-item-primary">コク：<%= coffee.taste.rich %></li>
  <li class="list-group-item list-group-item-danger">甘み：<%= coffee.taste.sweet %></li>
  <li class="list-group-item list-group-item-info">香り：<%= coffee.taste.aroma %></li>
</ul>