<%= form_with(model: @bean, local: true) do |form| %>
  <h3>以下の内容で登録しますか？</h3>

  <div class="row">
    <div class="col-6">

      <div class="field">
        <%= form.label :name %>
        <%= form.hidden_field :name %>
        <%= @bean.name %>
      </div>

      <div class="field">
        <%= form.label :country %>
        <%= form.hidden_field :country %>
        <%= @bean.country %>
      </div>

      <div class="field">
        <%= form.label :plantation %>
        <%= form.hidden_field :plantation %>
        <%= @bean.plantation %>
      </div>

      <div class="field">
        <%= form.label :roasted %>
        <%= form.hidden_field :roasted %>
        <%= @bean.roasted %>
      </div>

      <div class="field">
        <%= form.label :grind %>
        <%= form.hidden_field :grind %>
        <%= @bean.grind %>
      </div>

      <div class="field">
        <%= form.label :store %>
        <%= form.hidden_field :store %>
        <%= @bean.store %>
      </div>

      <div class="field">
        <%= form.label :price %>
        <%= form.hidden_field :price %>
        <span><%= @bean.price %> 円/100g</span>
      </div>

      <div class="field">
        <%= form.label :purchase_date %>
        <%= form.hidden_field :purchase_date %>
        <%= @bean.purchase_date %>
      </div>

      <div class="field">
        <%= form.label :icon %>
        <%= image_tag(@bean.icon.url) if @bean.icon && @bean.icon.url %>
        <%= form.hidden_field :icon_cache %>
        <%= @bean.icon %>
      </div>

      <div class="field">
        <%= form.label :description %>
        <%= form.hidden_field :description %>
        <%= @bean.description %>
      </div>
    </div>

    <div class="col-6">
      <%= render "tastes/confirm_new_taste", form: form %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>

  <div class="actions">
    <%= form.submit '戻る', name: "back", class: "btn btn-danger" %>
  </div>
<% end %>