<h1>Beans#show</h1>
<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="user-text">
    <p><strong>投稿者</strong>：<%= @bean.user.name %></p>
    <p><strong>画像</strong>：<%= image_tag @bean.user.icon.url %></p>
  </div>

  <%= render "showbean", coffee: @bean %>

  <%= render "tastes/showtaste", coffee: @bean %>

  <%= render "tastes/taste_chart", coffee: @bean %>

  <% if @favorites.present? %>
    <%= link_to 'お気に入り解除する', favorite_bean_path(id: @favorites), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'お気に入りする', favorite_beans_path(bean_id: @bean), method: :post, class: 'btn btn-primary' %>
  <% end %>

  <%= link_to '編集', edit_bean_path(@bean) %>
</div>
