<div class="page-header">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="pop-box">
      <label for="popup-on" class="navbar-brand">kanzashi</label>
      <input type="checkbox" id="popup-on">
      <div class="popup">
        <label for="popup-on" class="icon-close">×</label>
        <div class="popup-content">
          <%= render "layouts/top" %>
        </div>
      </div>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <% if user_signed_in? %>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to('マイページ', user_path(current_user), class: "nav-link") %>
          </li>
          <li class="nav-item">
            <%= link_to('ストレート', beans_path, class: "nav-link") %>
          </li>
          <li class="nav-item">
            <%= link_to('ブレンド', my_blends_path, class: "nav-link") %>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <%= link_to('ログアウト', destroy_user_session_path, method: :delete, class: "btn btn-outline-danger my-2 my-sm-0") %>
        </form>
      </div>
    <% end %>
  </nav>
</div>