<!--<table>-->
  <!--  <thead>-->
  <!--  <tr>-->
  <!--    <th>name</th>-->
  <!--    <th>description</th>-->
  <!--    <th colspan="3"></th>-->
  <!--  </tr>-->
  <!--  </thead>-->

  <!--  HACK:beansをcoffeesに修正する-->
  <!--  <tbody>-->
  <%# beans&.each do |bean| %>
  <!--    <tr>-->
  <!--      <td><%#= bean.user.name %></td>-->
  <!--      <td><%#= image_tag bean.user.icon.url if bean_class?(bean) %></td>-->
  <!--      <td><%#= bean.name %></td>-->
  <!--      <td><%#= link_to 'Show', bean %></td>-->
  <!--      BeanかMyBlendかでURLを分岐-->
  <!--      <td><%#= link_to 'Edit', bean_class?(bean) ? edit_bean_path(bean) : edit_my_blend_path(bean) %></td>-->
  <!--      <td><%#= link_to 'Destroy', bean, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
  <!--    </tr>-->
  <%# end %>
  <!--  </tbody>-->
  <!--</table>-->

<%#= paginate beans %>
<%#= page_entries_info beans %>

  <% beans&.each do |bean| %>
    <div class="card">
      <td><%= bean.user.name %></td>
      <% if bean_class?(bean) %>
        <%= image_tag bean.user.icon.url, class: "card-img-top" %>
      <% end %>
      <div class="card-body">
      <td><%= bean.name %></td>
      <td><%= link_to 'Show', bean %></td>
      <!--      BeanかMyBlendかでURLを分岐-->
      <td><%= link_to 'Edit', bean_class?(bean) ? edit_bean_path(bean) : edit_my_blend_path(bean) %></td>
      <td><%= link_to 'Destroy', bean, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </div>
    </div>
  <% end %>

<%= paginate beans %>
<%= page_entries_info beans %>